#heading {color:white;font-family:cursive;margin-top:0px;padding:5px;}
#urlheading {color:white;margin-top:-15px;font-style:italic;}
#deliver {color:white;}
.menus {margin-top:20px;}
.menus li {color:darkgray;list-style-type:none;display:inline;margin-left:20px;}
.footer_heading {text-align:center;color:white;}
.footer_list li {color:white;text-align:center;list-style-type:none;font-size:13px;margin-top:7px;}
#foot_head {text-align:center;color:white;font-family:cursive;}
#foot_head1 {text-align:center;color:gray;} 